* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  width: 980px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav .logo {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #FFFFFF;
  width: 92px;
  height: 38px;
}
nav .links a {
  color: #FFFFFF;
  text-decoration: none;
}
nav .links span {
  color: #FFFFFF;
  margin: 0 20px;
}

.banner {
  max-width: 1280px;
  height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/banner.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: -80px auto 0 auto;
  position: relative;
}
.banner .bannerText {
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: 181px;
  left: 432px;
}

.trips-content {
  max-width: 818px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 457px;
  left: 231px;
}
.trips-content .israelImg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/tour-01.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 236px;
  height: 304px;
  margin-right: 55px;
}
.trips-content .israelImg .israelTxt {
  text-align: center;
  margin-top: 56px;
}
.trips-content .usaImg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/tour-02.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour-02.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 236px;
  height: 304px;
  margin-right: 55px;
}
.trips-content .usaImg .usaTxt {
  text-align: center;
  margin-top: 56px;
}
.trips-content .australiaImg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/tour-03.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/tour-03.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 236px;
  height: 304px;
}
.trips-content .australiaImg .australiaTxt {
  text-align: center;
  margin-top: 56px;
}

.form-content {
  max-width: 818px;
  min-height: 200px;
  margin: 0 auto;
  position: relative;
  margin-top: 350px;
}
.form-content .top-boxes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-content .top-boxes .short-box {
  width: 344px;
  height: 58px;
  margin-right: 21px;
  border: 2px solid #79ADDC;
}
.form-content .top-boxes .long-box {
  width: 453px;
  height: 58px;
  border: 2px solid #79ADDC;
}
.form-content .top-boxes ::-webkit-input-placeholder {
  position: absolute;
  color: #000;
  top: 19px;
  left: 20px;
}
.form-content .top-boxes ::-moz-placeholder {
  position: absolute;
  color: #000;
  top: 19px;
  left: 20px;
}
.form-content .top-boxes :-ms-input-placeholder {
  position: absolute;
  color: #000;
  top: 19px;
  left: 20px;
}
.form-content .top-boxes ::-ms-input-placeholder {
  position: absolute;
  color: #000;
  top: 19px;
  left: 20px;
}
.form-content .top-boxes ::placeholder {
  position: absolute;
  color: #000;
  top: 19px;
  left: 20px;
}
.form-content .check-boxes {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-content .check-boxes .longer-box {
  width: 698px;
  height: 58px;
  margin-left: 57px;
  border: 2px solid #79ADDC;
}
.form-content .dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}