.banner {
    max-width: $banner-footer-width;
    height: $banner-height;
    background-image: linear-gradient(
        rgba($site-black, 0.5),
        rgba($site-black, 0.5)
    ),
        url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -80px auto 0 auto;
    position: relative;

    .bannerText {
        text-align: center;
        position: absolute;
        margin: 0 auto;
        top: 181px;
        left: 432px;
    }
}

.trips-content {
    max-width: $home-form-width;
    margin: $center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 457px;
    left: 231px;
    
    .israelImg {
        background-image: 
        linear-gradient(
        rgba($site-black, 0.5),
        rgba($site-black, 0.5)
        ),
        url("../images/tour-01.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 236px;
        height: 304px;
        margin-right: 55px;

        .israelTxt {
            text-align: center;
            margin-top: 56px;
        }
    }
    
    .usaImg {
        background-image: 
        linear-gradient(
        rgba($site-black, 0.5),
        rgba($site-black, 0.5)
        ),
        url("../images/tour-02.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 236px;
        height: 304px;
        margin-right: 55px;

        .usaTxt {
            text-align: center;
            margin-top: 56px;
        }
    }
    
    .australiaImg {
        background-image: 
        linear-gradient(
        rgba($site-black, 0.5),
        rgba($site-black, 0.5)
        ),
        url("../images/tour-03.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 236px;
        height: 304px;

        .australiaTxt {
            text-align: center;
            margin-top: 56px;
        }
    }
}
