nav {
    width: $site-width;
    height: 80px;
    margin: 0 auto;
    border-bottom: 2px solid $site-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;                //to set z-index u have to have a position
    
    .logo {
        color: $site-white;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border: 2px solid $site-white;
        width: 92px;
        height: 38px;
    }

    .links {
        a {
            color: $site-white;
            text-decoration: none;
        }

        span {
            color: $site-white;
            margin: 0 20px;
        }
    }
}

